//-----------------------------------------------------------------
// Space Out Resources
// RC Source - SpaceOut.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_SPACEOUT          ICON         "SpaceOut.ico"
IDI_SPACEOUT_SM       ICON         "SpaceOut_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_WALL              BITMAP       "assets/tiles/wall.bmp"
IDB_EMPTY             BITMAP       "assets/tiles/empty.bmp"
IDB_ROCK              BITMAP       "assets/sprites/rock.bmp"
IDB_FIREBALL          BITMAP       "assets/sprites/fireball.bmp"
IDB_FLAME             BITMAP       "assets/sprites/flame.bmp"
IDB_GUSTUP            BITMAP       "assets/sprites/gustup.bmp"
IDB_GUSTDOWN          BITMAP       "assets/sprites/gustdown.bmp"
IDB_GUSTLEFT          BITMAP       "assets/sprites/gustleft.bmp"
IDB_GUSTRIGHT         BITMAP       "assets/sprites/gustright.bmp"
IDB_MUD               BITMAP       "assets/sprites/mud.bmp"
IDB_WATER             BITMAP       "assets/sprites/water.bmp"
IDB_ICE               BITMAP       "assets/sprites/ice.bmp"
IDB_WATERRES          BITMAP       "assets/sprites/water_resource.bmp"
IDB_AIRRES            BITMAP       "assets/sprites/air_resource.bmp"
IDB_EARTHRES          BITMAP       "assets/sprites/earth_resource.bmp"
IDB_FIRERES           BITMAP       "assets/sprites/fire_resource.bmp"
IDB_PLAYERMOVEUP      BITMAP       "assets/sprites/player/playermoveup.bmp"
IDB_PLAYERMOVEDOWN    BITMAP       "assets/sprites/player/playermovedown.bmp"
IDB_PLAYERMOVELEFT    BITMAP       "assets/sprites/player/playermoveleft.bmp"
IDB_PLAYERMOVERIGHT   BITMAP       "assets/sprites/player/playermoveright.bmp"
IDB_SWINGUP           BITMAP	     "assets/sprites/player/swingup.bmp"
IDB_SWINGDOWN         BITMAP       "assets/sprites/player/swingdown.bmp"
IDB_SWINGLEFT         BITMAP       "assets/sprites/player/swingleft.bmp"
IDB_SWINGRIGHT        BITMAP       "assets/sprites/player/swingright.bmp"
IDB_POINT             BITMAP       "assets/sprites/point.bmp"
IDB_SKULLLEFT         BITMAP       "assets/sprites/enemy/skullleft.bmp"
IDB_SKULLRIGHT        BITMAP       "assets/sprites/enemy/skullright.bmp"
IDB_EYELEFT           BITMAP       "assets/sprites/enemy/eyeleft.bmp"
IDB_EYERIGHT          BITMAP       "assets/sprites/enemy/eyeright.bmp"
IDB_EYEBACKLEFT       BITMAP       "assets/sprites/enemy/eyebackleft.bmp"
IDB_EYEBACKRIGHT      BITMAP       "assets/sprites/enemy/eyebackright.bmp"
IDB_EYEBULLET         BITMAP       "assets/sprites/enemy/eyebullet.bmp"
IDB_SLIME             BITMAP       "assets/sprites/enemy/slime.bmp"
IDB_HUMUNGOUSFRONT    BITMAP       "assets/sprites/enemy/humungousfront.bmp"
IDB_HEALTHBAR100      BITMAP       "assets/sprites/health100.bmp"
IDB_HEALTHBAR075      BITMAP       "assets/sprites/health75.bmp"
IDB_HEALTHBAR050      BITMAP       "assets/sprites/health50.bmp"
IDB_HEALTHBAR025      BITMAP       "assets/sprites/health25.bmp"


//-----------------------------------------------------------------
// Wave Sounds
//-----------------------------------------------------------------
//IDW_MISSILE           WAVE         "assets/archive/Missile.wav"
//IDW_BMISSILE          WAVE         "assets/archive/BMissile.wav"
//IDW_JMISSILE          WAVE         "assets/archive/JMissile.wav"
//IDW_TMISSILE          WAVE         "assets/archive/TMissile.wav"
//IDW_SMEXPLODE         WAVE         "assets/archive/SmExplode.wav"
//IDW_LGEXPLODE         WAVE         "assets/archive/LgExplode.wav"
//IDW_GAMEOVER          WAVE         "assets/archive/GameOver.wav"
